#--------------------------------
# Ignore invisible files/folders
#--------------------------------
.*
!.git*
.git/

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.4BK
*.journal
*.4DIndx
*.Match

#--------------------------------
# Runtime Files
#--------------------------------
Compiled Database/*
Plugins/*
Project/*_ci-*.json

#--------------------------------
# Ignore derived data
#--------------------------------
Project/DerivedData/
Libraries/

#--------------------------------
# Ignore logs
#--------------------------------
Logs/
*.log

#--------------------------------
# Ignore settings & preferences
#--------------------------------
userPreferences.*/
Settings/*

#!buildApp.4DSettings

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

#--------------------------------
# Added by user
#--------------------------------
Resources/php.ini
Project/Trash/

#--------------------------------
# remove .quarantine files & metadata files windows adds but can't handle
#--------------------------------
**/*.quarantine
**/*com.apple.metadata*

*_log.json

__pycache__
