#--------------------------------
# Ignore invisible files/folders
#--------------------------------
.*
!.git*
.git/

#--------------------------------
# Ignore data file
#--------------------------------
[dD][aA][tT][aA]/
*.4DD
*.4BK
*.journal
*.4DIndx
*.Match
*.orig
TableData.txt
backupHistory.json
WriteAheadLog.json

#--------------------------------
# Runtime Files
#--------------------------------
Components/*
Plugins/*
ProcessListJSON.txt
UsersGroups.4UG
symphony_ci-*.json
Libraries/

#--------------------------------
# Ignore derived data
#--------------------------------
Project/DerivedData/

#--------------------------------
# Ignore logs
#--------------------------------
Logs/
*.log

#--------------------------------
# Ignore settings & preferences
#--------------------------------
userPreferences.*/
Settings/*
Resources/indexScanner.json
Resources/Constants_Sweetwater.xlf

#!buildApp.4DSettings

#--------------------------------
# Miscellaneous
#--------------------------------
*__Orphan__*
*symbols.txt
ehthumbs.db
Thumbs.db

#--------------------------------
# Added by user
#--------------------------------
Resources/php.ini
Project/Trash/

#--------------------------------
# remove .quarantine files & metadata files windows adds but can't handle
#--------------------------------
**/*.quarantine
**/*com.apple.metadata*
ca-bundle.pem
__AKP_Test_Methods.md
__AKP_Test_Methods.4dm

*_log.json

__pycache__
