/*!
 * 
 * 4DView Pro library 0.0.0
 * 
 * Copyright(c) 4D SAS.  All rights reserved.
 * 
 * 4D (the "Software") and the corresponding source code remain
 * the exclusive property of 4D and/or its licensors and are protected by national
 * and/or international legislations.
 * 
 * This file is part of the source code of the Software provided under the relevant
 * 4D License Agreement available on http://www.4D.com/license whose compliance
 * constitutes a prerequisite to any use of this file and more generally of the
 * Software and the corresponding source code.
 * 
 */

#ss {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.withFormulaBar {
  top: 26px;
}

.withoutFormulaBar {
  top: 0px;
}

#formulaBar {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 20px;
  right: 4px;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#formulaBar > input {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
