/* This is a function for icons position*/
.fileMenu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 1000;
}
.fileMenu .menu-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #443856;
}
.fileMenu .menu-panel ul {
  list-style: none;
  padding: 0;
}
.fileMenu .menu-panel ul li div.goback-image {
  margin: 16px 16px 6px;
  width: 32px;
  height: 32px;
  background-image: url(../css/images/icons.png);
  background-position: -16px -3840px;
}
.fileMenu .menu-panel ul li a {
  padding: 10px 18px;
  color: #fff;
  text-decoration: none;
  display: block;
}
.fileMenu .menu-panel ul li div.gcui-ribbon-listseparator {
  height: 1px;
  border-top: 1px solid #6f5e88;
  margin: 6px 12px;
}
.fileMenu .menu-panel ul li:not(.nohover-effect):hover {
  background-color: #6f5e88;
}
.fileMenu .content-panel {
  height: 100%;
  margin-left: 15%;
  background-color: white;
}
.fileMenu .content-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*
.fileMenu .content-panel ul li a {
  padding: 15px 25px;
  color: black;
  text-decoration: none;
  display: block;
}
*/
.fileMenu .content-panel ul li ul {
  padding-left: 2em;
}
.fileMenu .content-panel ul li:not(.nohover-effect):hover {
  background-color: #d3f0e0;
}
.fileMenu .content-panel .menu-title {
  height: 10%;
  width: 100%;
  font-size: xx-large;
  position: relative;
}
.fileMenu .content-panel .menu-title span {
  margin-left: 5%;
  position: absolute;
  bottom: 0px;
}
.fileMenu .content-panel .content-view {
  height: 86%;
  /*width: 90%;*/
  padding: 2% 5%;
}
.fileMenu .content-panel .content-view .content-item {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.fileMenu .content-panel .content-view .content-item .template-item {
  padding: 5px;
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-item-thumb {
  width: 200px;
  height: 160px;
  background-image: url(../images/templates.png);
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-blank {
  background-position: 0px -320px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-academic-weekly-lesson-plan {
  background-position: 0px 0px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-babysitter-checklist-with-schedule {
  background-position: 0px -160px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-car-repair-tracker {
  background-position: 0px -480px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-employee-absence-schedule {
  background-position: 0px -640px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-expense-report {
  background-position: 0px -800px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-fitness-plan {
  background-position: 0px -960px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-holiday-gift-list {
  background-position: 0px -1120px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-home-construction-budget {
  background-position: 0px -1280px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-homework-schedule {
  background-position: 0px -1440px;
}
.fileMenu .content-panel .content-view .content-item .template-item .template-thumb-photo-calendar-mon {
  background-position: 0px -1600px;
}
.fileMenu .content-panel .content-view .content-item .template-item:hover {
  background-color: #d3f0e0;
}
.fileMenu .content-panel .content-view .left-view {
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px #e1e1e1 solid;
}
.fileMenu .content-panel .content-view .right-view {
  height: 100%;
  margin-left: 30%;
  padding-left: 5%;
  overflow: auto;
}
.fileMenu .content-panel .content-view .right-view .submenu-title {
  margin-bottom: 16px;
  font-size: x-large;
  color: #217346;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting {
  padding: 10px;
  padding-left: 0px;
  border: none;
  border-top: 1px solid #D3D3D3;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .basic-element-container {
  width: 285px;
  height: 24px;
  margin-left: 20px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .pdf-basic-setting-label {
  width: 100px;
  display: inline-block;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .export-setting-container {
  margin-left: 20px;
  height: 24px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .export-setting-input {
  width: 150px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .display-setting-container {
  width: 190px;
  display: inline-block;
  margin-left: 20px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .display-type-container {
  width: 280px;
  height: 24px;
  display: inline-block;
  margin-left: 20px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .page-setting-container {
  width: 290px;
  display: inline-block;
  margin-left: 20px;
  height: 24px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .page-settings-label {
  display: inline-block;
  width: 130px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .page-settings {
  width: 150px;
}
.fileMenu .content-panel .content-view .right-view .pdf-export-setting .display-setting-select {
  width: 150px;
}
.fileMenu .content-panel .content-view .file-label {
  cursor: default;
  margin-left: 10px;
  display: inline-block;
}
.fileMenu .content-panel .content-view .file-label .file-name {
  font-size: small;
}
.fileMenu .content-panel .content-view .file-label .file-path {
  font-size: small;
  margin-top: 3px;
}
.fileMenu .content-panel .content-view .list-item {
  padding: 5px 10px;
}
.fileMenu .content-panel .content-view .list-item .list-item-big-icon {
  background-image: url(../css/images/icons.png);
  width: 32px;
  height: 32px;
  display: inline-block;
}
.fileMenu .content-panel .content-view .list-item .directory-icon {
  margin: 5px 0 0 10px;
  float: left;
  background-image: url(../css/images/icons.png);
  width: 16px;
  height: 16px;
  background-position: 0px -1984px;
}
.fileMenu .content-panel .content-view .sub-title {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: medium;
}
.fileMenu .content-panel .content-view .iconbutton {
  border: 1px solid #ababab;
  width: 85px;
  height: 85px;
  padding: 10px;
}
.fileMenu .content-panel .content-view .iconbutton .iconbutton-big-image {
  background-image: url(../css/images/icons.png);
  width: 32px;
  height: 32px;
  margin: 10px auto 10px auto;
}
.fileMenu .content-panel .content-view .iconbutton span {
  display: block;
  text-align: center;
  font-size: small;
}
.fileMenu .content-panel .content-view .iconbutton:hover {
  background-color: #d3f0e0;
}
.fileMenu .content-panel .content-view .horizontal {
  float: left;
}
.fileMenu .menu-item-selected {
  background-color: #352946;
}
.fileMenu .xls-icon {
  background-position: -16px -864px;
}
.fileMenu .xlsx-icon {
  background-position: -16px -832px;
}
.fileMenu .csv-icon {
  background-position: -16px -416px;
}
.fileMenu .ssjson-icon {
  background-position: -16px -3872px;
}
.fileMenu .pdf-icon {
  background-position: -16px -2336px;
}
.fileMenu .browse-button-icon {
  background-position: -16px -960px;
}

.option-input {
  margin-bottom: 1em;
}

#app-setting {
  height: 100%;
  overflow-y: auto;
}
