.sprite { background: url('images/sprite.png') no-repeat top left; width: 24px; height: 24px; display: inline-block;}
.sprite._3DStyle { background-position: 0 0; }
.sprite.AlignBottomExcel { background-position: 0 -34px; }
.sprite.AlignCenter { background-position: 0 -68px; }
.sprite.AlignDialog { background-position: 0 -102px; }
.sprite.AlignDistributeHorizontally { background-position: 0 -136px; }
.sprite.AlignDistributeHorizontallyClassic { background-position: 0 -170px; }
.sprite.AlignDistributeVertically { background-position: 0 -204px; }
.sprite.AlignDistributeVerticallyClassic { background-position: 0 -238px; }
.sprite.AlignGallery { background-position: 0 -272px; }
.sprite.AlignJustify { background-position: 0 -306px; }
.sprite.AlignJustifyHigh { background-position: 0 -340px; }
.sprite.AlignJustifyLow { background-position: 0 -374px; }
.sprite.AlignJustifyMedium { background-position: 0 -408px; }
.sprite.AlignJustifyMenu { background-position: 0 -442px; }
.sprite.AlignJustifyThai { background-position: 0 -476px; }
.sprite.AlignJustifyWithMixedLanguages { background-position: 0 -510px; }
.sprite.AlignLeft { background-position: 0 -544px; }
.sprite.AlignLeftToRightMenu { background-position: 0 -578px; }
.sprite.AlignMenuAlternate { background-position: 0 -612px; }
.sprite.AlignMiddleExcel { background-position: 0 -646px; }
.sprite.AlignRelativeToPage { background-position: 0 -680px; }
.sprite.AlignRight { background-position: 0 -714px; }
.sprite.AlignTopExcel { background-position: 0 -748px; }
.sprite.ApplyCssStyles { background-position: 0 -782px; }
.sprite.ApplyStylesPane { background-position: 0 -816px; }
.sprite.ArrowStyleGallery { background-position: 0 -850px; }
.sprite.AudioStyles { background-position: 0 -884px; }
.sprite.B { background-position: 0 -918px; }
.sprite.BarStylesFormat { background-position: 0 -952px; }
.sprite.BibliographyStyle { background-position: 0 -986px; }
.sprite.Bold { background-position: 0 -1020px; }
.sprite.BorderBottom { background-position: 0 -1054px; }
.sprite.BorderBottomNoToggle { background-position: 0 -1088px; }
.sprite.BorderBottomWord { background-position: 0 -1122px; }
.sprite.BorderColor { background-position: 0 -1156px; }
.sprite.BorderColorPicker { background-position: 0 -1190px; }
.sprite.BorderColorPickerExcel { background-position: 0 -1224px; }
.sprite.BorderDiagonalDown { background-position: 0 -1258px; }
.sprite.BorderDiagonalUp { background-position: 0 -1292px; }
.sprite.BorderDoubleBottom { background-position: 0 -1326px; }
.sprite.BorderDrawGrid { background-position: 0 -1360px; }
.sprite.BorderDrawLine { background-position: 0 -1394px; }
.sprite.BorderDrawMenu { background-position: 0 -1428px; }
.sprite.BorderErase { background-position: 0 -1462px; }
.sprite.BorderInside { background-position: 0 -1496px; }
.sprite.BorderInsideHorizontal { background-position: 0 -1530px; }
.sprite.BorderInsideVertical { background-position: 0 -1564px; }
.sprite.BorderLeft { background-position: 0 -1598px; }
.sprite.BorderLeftNoToggle { background-position: 0 -1632px; }
.sprite.BorderLeftWord { background-position: 0 -1666px; }
.sprite.BorderMoreColorsDialog { background-position: 0 -1700px; }
.sprite.BorderNone { background-position: 0 -1734px; }
.sprite.BorderOutside { background-position: 0 -1768px; }
.sprite.BorderRight { background-position: 0 -1802px; }
.sprite.BorderRightNoToggle { background-position: 0 -1836px; }
.sprite.BorderRightWord { background-position: 0 -1870px; }
.sprite.BordersAll { background-position: 0 -1904px; }
.sprite.BordersAndShadingDialog { background-position: 0 -1938px; }
.sprite.BordersAndShadingInfoPath { background-position: 0 -1972px; }
.sprite.BordersAndTitlesGallery { background-position: 0 -2006px; }
.sprite.BordersDiagonalPublisher { background-position: 0 -2040px; }
.sprite.BordersGallery { background-position: 0 -2074px; }
.sprite.BordersMoreDialog { background-position: 0 -2108px; }
.sprite.BordersSelectionGallery { background-position: 0 -2142px; }
.sprite.BordersShadingDialog { background-position: 0 -2176px; }
.sprite.BordersShadingDialogSpd { background-position: 0 -2210px; }
.sprite.BordersShadingDialogWord { background-position: 0 -2244px; }
.sprite.BordersShortGallery { background-position: 0 -2278px; }
.sprite.BorderStyle { background-position: 0 -2312px; }
.sprite.BorderStylesGallery { background-position: 0 -2346px; }
.sprite.BorderThickBottom { background-position: 0 -2380px; }
.sprite.BorderThickOutside { background-position: 0 -2414px; }
.sprite.BorderTop { background-position: 0 -2448px; }
.sprite.BorderTopAndBottom { background-position: 0 -2482px; }
.sprite.BorderTopAndDoubleBottom { background-position: 0 -2516px; }
.sprite.BorderTopAndThickBottom { background-position: 0 -2550px; }
.sprite.BorderTopNoToggle { background-position: 0 -2584px; }
.sprite.BorderTopWord { background-position: 0 -2618px; }
.sprite.CalculationOptionsMenu { background-position: 0 -2652px; width: 16px; height: 16px; }
.sprite.CalendarViewFormatBarStyles { background-position: 0 -2678px; }
.sprite.CellAlignmentOptions { background-position: 0 -2712px; }
.sprite.CellDiagonalsGallery { background-position: 0 -2746px; }
.sprite.CellFillColorPicker { background-position: 0 -2780px; }
.sprite.CellHeight { background-position: 0 -2814px; }
.sprite.CellPadding { background-position: 0 -2848px; }
.sprite.CellProperties { background-position: 0 -2882px; }
.sprite.CellProperties2 { background-position: 0 -2916px; }
.sprite.CellsDelete { background-position: 0 -2950px; }
.sprite.CellsDeleteSmart { background-position: 0 -2984px; }
.sprite.CellsInsertDialog { background-position: 0 -3018px; }
.sprite.CellsInsertSmart { background-position: 0 -3052px; }
.sprite.CellStyleNew { background-position: 0 -3086px; }
.sprite.CellStylesGallery { background-position: 0 -3120px; }
.sprite.CellStylesMerge { background-position: 0 -3154px; }
.sprite.CellWidth { background-position: 0 -3188px; }
.sprite.ChangeStylesMenu { background-position: 0 -3222px; }
.sprite.ChartResetToMatchStyle { background-position: 0 -3256px; }
.sprite.ChartStylesGallery { background-position: 0 -3290px; }
.sprite.Clear { background-position: 0 -3324px; }
.sprite.ClearAll { background-position: 0 -3358px; }
.sprite.ClearAllFormatting { background-position: 0 -3392px; }
.sprite.ClearFormats { background-position: 0 -3426px; }
.sprite.ClearFormatting { background-position: 0 -3460px; }
.sprite.ClearGrid { background-position: 0 -3494px; }
.sprite.ClearIconColors { background-position: 0 -3528px; }
.sprite.ClearMenu { background-position: 0 -3562px; }
.sprite.ClearNotesProject { background-position: 0 -3596px; }
.sprite.ClearRow { background-position: 0 -3630px; }
.sprite.CommaStyle { background-position: 0 -3664px; }
.sprite.ContainerHeadingStyles { background-position: 0 -3698px; }
.sprite.ContainerStyles { background-position: 0 -3732px; }
.sprite.ContextStylesGallery { background-position: 0 -3766px; }
.sprite.CrossFunctionalFlowchartStyle { background-position: 0 -3800px; }
.sprite.CssAttachStyleSheet { background-position: 0 -3834px; }
.sprite.DataAutomaticallyLink { background-position: 0 -3868px; }
.sprite.DatabaseAccessBackEnd { background-position: 0 -3902px; }
.sprite.DatabaseAnalyzePerformance { background-position: 0 -3936px; }
.sprite.DatabaseAnalyzeTable { background-position: 0 -3970px; }
.sprite.DatabaseCopyDatabaseFile { background-position: 0 -4004px; }
.sprite.DatabaseDocumenter { background-position: 0 -4038px; }
.sprite.DatabaseEncodeDecode { background-position: 0 -4072px; }
.sprite.DatabaseInsert { background-position: 0 -4106px; }
.sprite.DatabaseLinedTableManager { background-position: 0 -4140px; }
.sprite.DatabaseMakeMdeFile { background-position: 0 -4174px; }
.sprite.DatabaseModelingCodeWindowShow { background-position: 0 -4208px; }
.sprite.DatabaseModelingDatabaseDrivers { background-position: 0 -4242px; }
.sprite.DatabaseModelingDisplayOptions { background-position: 0 -4276px; }
.sprite.DatabaseModelingImport { background-position: 0 -4310px; }
.sprite.DatabaseModelingOutputWindowShow { background-position: 0 -4344px; }
.sprite.DatabaseModelingPreferences { background-position: 0 -4378px; }
.sprite.DatabaseModelingPropertyWindowShow { background-position: 0 -4412px; }
.sprite.DatabaseModelingRefresh { background-position: 0 -4446px; }
.sprite.DatabaseModelingReverse { background-position: 0 -4480px; }
.sprite.DatabaseModelingShowRelatedTables { background-position: 0 -4514px; }
.sprite.DatabaseModelingTablesViewsWindowShow { background-position: 0 -4548px; }
.sprite.DatabaseModelingTypesWindowShow { background-position: 0 -4582px; }
.sprite.DatabaseModelingUserDefinedTypes { background-position: 0 -4616px; }
.sprite.DatabaseMoveToSharePoint { background-position: 0 -4650px; }
.sprite.DatabaseObjectDependencies { background-position: 0 -4684px; }
.sprite.DatabaseOpenFromProject { background-position: 0 -4718px; }
.sprite.DatabasePartialReplica { background-position: 0 -4752px; }
.sprite.DatabasePermissions { background-position: 0 -4786px; }
.sprite.DatabasePermissionsMenu { background-position: 0 -4820px; }
.sprite.DatabaseQueryNew { background-position: 0 -4854px; }
.sprite.DatabaseRelationships { background-position: 0 -4888px; }
.sprite.DatabaseServerCompatibilityCheckClientObjects { background-position: 0 -4922px; }
.sprite.DatabaseServerCompatibilityCheckDatabase { background-position: 0 -4956px; }
.sprite.DatabaseServerCompatibilityCheckObject { background-position: 0 -4990px; }
.sprite.DatabaseServerCompatibilityCheckOpenTable { background-position: 0 -5024px; }
.sprite.DatabaseServerCompatibilityCheckRun { background-position: 0 -5058px; }
.sprite.DatabaseServerCompatibilityCheckWebObjects { background-position: 0 -5092px; }
.sprite.DatabaseSetLogonSecurity { background-position: 0 -5126px; }
.sprite.DatabaseSqlServer { background-position: 0 -5160px; }
.sprite.DatabaseSwitchboardManager { background-position: 0 -5194px; }
.sprite.DatabaseUserAndGroupAccounts { background-position: 0 -5228px; }
.sprite.DatabaseUserLevelSecurityWizard { background-position: 0 -5262px; }
.sprite.DataConnectionsGetMore { background-position: 0 -5296px; }
.sprite.DataConnectionsManager { background-position: 0 -5330px; }
.sprite.DataConnectionsSubmitMore { background-position: 0 -5364px; }
.sprite.DataDesignWorkflow { background-position: 0 -5398px; }
.sprite.DataFileProperties { background-position: 0 -5432px; }
.sprite.DataFilter { background-position: 0 -5466px; }
.sprite.DataFinder { background-position: 0 -5500px; }
.sprite.DataFormActions { background-position: 0 -5534px; }
.sprite.DataFormAddRecord { background-position: 0 -5568px; }
.sprite.DataFormDeleteRecord { background-position: 0 -5602px; }
.sprite.DataFormExcel { background-position: 0 -5636px; }
.sprite.DataFormProperties { background-position: 0 -5670px; }
.sprite.DataFormSource { background-position: 0 -5704px; }
.sprite.DataFormWord { background-position: 0 -5738px; }
.sprite.DataFromDatabase { background-position: 0 -5772px; }
.sprite.DataFromOfficeServer { background-position: 0 -5806px; }
.sprite.DataFromRESTWebService { background-position: 0 -5840px; }
.sprite.DataFromSharePointList { background-position: 0 -5874px; }
.sprite.DataFromSOAPWebService { background-position: 0 -5908px; }
.sprite.DataFromWebService { background-position: 0 -5942px; }
.sprite.DataFromWorkspace { background-position: 0 -5976px; }
.sprite.DataFromXmlFile { background-position: 0 -6010px; }
.sprite.DataGraphicColorByValue { background-position: 0 -6044px; }
.sprite.DataGraphicContainer { background-position: 0 -6078px; }
.sprite.DataGraphicCreateNew { background-position: 0 -6112px; }
.sprite.DataGraphicDataBar { background-position: 0 -6146px; }
.sprite.DataGraphicEdit { background-position: 0 -6180px; }
.sprite.DataGraphicEditItem { background-position: 0 -6214px; }
.sprite.DataGraphicIconSet { background-position: 0 -6248px; }
.sprite.DataGraphicLegendHoriz1 { background-position: 0 -6282px; }
.sprite.DataGraphicLegendStyle { background-position: 0 -6316px; }
.sprite.DataGraphicLegendStyleGallery { background-position: 0 -6350px; }
.sprite.DataGraphicLegendVert1 { background-position: 0 -6384px; }
.sprite.DataGraphicNewItem { background-position: 0 -6418px; }
.sprite.DataGraphicsGallery { background-position: 0 -6452px; }
.sprite.DataGraphicsGalleryVisio { background-position: 0 -6486px; }
.sprite.DataGraphicTextCallout { background-position: 0 -6520px; }
.sprite.DataGridInsert { background-position: 0 -6554px; }
.sprite.DataInsertDataView { background-position: 0 -6588px; }
.sprite.DataInsertJoinedSubView { background-position: 0 -6622px; }
.sprite.DataInterconnect { background-position: 0 -6656px; }
.sprite.DataLinkDataToShapes { background-position: 0 -6690px; }
.sprite.DataMacroGallery { background-position: 0 -6724px; }
.sprite.DataMacroManager { background-position: 0 -6758px; }
.sprite.DataMacroTracing { background-position: 0 -6792px; }
.sprite.DataOptionsMenu { background-position: 0 -6826px; }
.sprite.DataParameters { background-position: 0 -6860px; }
.sprite.DataRangeProperties { background-position: 0 -6894px; }
.sprite.DataRefreshAll { background-position: 0 -6928px; }
.sprite.DataRefreshAllDialog { background-position: 0 -6962px; }
.sprite.DataRefreshDialog { background-position: 0 -6996px; }
.sprite.DatasheetColumnDelete { background-position: 0 -7030px; }
.sprite.DatasheetColumnLookup { background-position: 0 -7064px; }
.sprite.DatasheetColumnRename { background-position: 0 -7098px; }
.sprite.DatasheetGridlinesBoth { background-position: 0 -7132px; }
.sprite.DatasheetGridlinesHorizontal { background-position: 0 -7166px; }
.sprite.DatasheetGridlinesMenu { background-position: 0 -7200px; }
.sprite.DatasheetGridlinesNone { background-position: 0 -7234px; }
.sprite.DatasheetGridlinesVertical { background-position: 0 -7268px; }
.sprite.DatasheetNewField { background-position: 0 -7302px; }
.sprite.DatasheetView { background-position: 0 -7336px; }
.sprite.DataSourceCatalogAddToSite { background-position: 0 -7370px; }
.sprite.DataSourceCatalogCopyModify { background-position: 0 -7404px; }
.sprite.DataSourceCatalogDataBase { background-position: 0 -7438px; }
.sprite.DataSourceCatalogManage { background-position: 0 -7472px; }
.sprite.DataSourceCatalogProperties { background-position: 0 -7506px; }
.sprite.DataSourceCatalogRemove { background-position: 0 -7540px; }
.sprite.DataSourceCatalogServerScript { background-position: 0 -7574px; }
.sprite.DataSourceCatalogSOAP { background-position: 0 -7608px; }
.sprite.DataSourceCatalogXMLFile { background-position: 0 -7642px; }
.sprite.DataStyle { background-position: 0 -7676px; }
.sprite.DataSubmitToEmail { background-position: 0 -7710px; }
.sprite.DataSubmitToOfficeServer { background-position: 0 -7744px; }
.sprite.DataSubmitToSharePointLibrary { background-position: 0 -7778px; }
.sprite.DataSubmitToWebService { background-position: 0 -7812px; }
.sprite.DataType { background-position: 0 -7846px; }
.sprite.DataType24HourTime { background-position: 0 -7880px; }
.sprite.DataTypeAttachment { background-position: 0 -7914px; }
.sprite.DataTypeCalculatedColumn { background-position: 0 -7948px; }
.sprite.DataTypeCheckBox { background-position: 0 -7982px; }
.sprite.DataTypeCurrency { background-position: 0 -8016px; }
.sprite.DataTypeCurrencyBasic { background-position: 0 -8050px; }
.sprite.DataTypeDateTime { background-position: 0 -8084px; }
.sprite.DataTypeEuro { background-position: 0 -8118px; }
.sprite.DataTypeFixed { background-position: 0 -8152px; }
.sprite.DataTypeGeneral { background-position: 0 -8186px; }
.sprite.DataTypeHyperlink { background-position: 0 -8220px; }
.sprite.DataTypeLongDate { background-position: 0 -8254px; }
.sprite.DataTypeLookup { background-position: 0 -8288px; }
.sprite.DataTypeMediumDate { background-position: 0 -8322px; }
.sprite.DataTypeMediumTime { background-position: 0 -8356px; }
.sprite.DataTypeMemo { background-position: 0 -8390px; }
.sprite.DataTypeNumber { background-position: 0 -8424px; }
.sprite.DataTypeOnOff { background-position: 0 -8458px; }
.sprite.DataTypeRichText { background-position: 0 -8492px; }
.sprite.DataTypeScientific { background-position: 0 -8526px; }
.sprite.DataTypeShortDate { background-position: 0 -8560px; }
.sprite.DataTypeStandard { background-position: 0 -8594px; }
.sprite.DataTypeTemplateCreate { background-position: 0 -8628px; }
.sprite.DataTypeTemplateGallery { background-position: 0 -8662px; }
.sprite.DataTypeText { background-position: 0 -8696px; }
.sprite.DataTypeTime { background-position: 0 -8730px; }
.sprite.DataTypeTrueFalse { background-position: 0 -8764px; }
.sprite.DataTypeYesNo { background-position: 0 -8798px; }
.sprite.DataTypeYesNoBasic { background-position: 0 -8832px; }
.sprite.DataValidation { background-position: 0 -8866px; }
.sprite.DataValidationCircleInvalid { background-position: 0 -8900px; }
.sprite.DataValidationClearValidationCircles { background-position: 0 -8934px; }
.sprite.DataValidationMenu { background-position: 0 -8968px; }
.sprite.DataViewConditionalFormatting { background-position: 0 -9002px; }
.sprite.DataViewDetailsView { background-position: 0 -9036px; }
.sprite.DataViewFieldList { background-position: 0 -9070px; }
.sprite.DataViewGallery { background-position: 0 -9104px; }
.sprite.DataViewOptions { background-position: 0 -9138px; }
.sprite.DataViewPreviewCombo { background-position: 0 -9172px; }
.sprite.DataViewProperties { background-position: 0 -9206px; }
.sprite.DataViewStyleGallery { background-position: 0 -9240px; }
.sprite.DecimalsDecrease { background-position: 0 -9274px; width: 16px; height: 16px; }
.sprite.DecimalsIncrease { background-position: 0 -9300px; width: 16px; height: 16px; }
.sprite.DefinedPrintStyle { background-position: 0 -9326px; }
.sprite.DefinePrintStyles { background-position: 0 -9360px; }
.sprite.DetailsStylesAdd { background-position: 0 -9394px; }
.sprite.DetailStylesProperties { background-position: 0 -9428px; }
.sprite.DetailStylesRemove { background-position: 0 -9462px; }
.sprite.DetailStylesRemoveAll { background-position: 0 -9496px; }
.sprite.DiagramStylesClassic { background-position: 0 -9530px; }
.sprite.DollarSign { background-position: 0 -9564px; }
.sprite.Drawing1ColorPickerLineStyles { background-position: 0 -9598px; }
.sprite.Drawing1ColorPickerLineStyles2 { background-position: 0 -9632px; }
.sprite.Drawing1ColorPickerLineStylesWordArt { background-position: 0 -9666px; }
.sprite.DsaShowStyleApplicationOverlay { background-position: 0 -9700px; }
.sprite.DsaStyleMode { background-position: 0 -9734px; }
.sprite.FillBackColorSplitDropdown { background-position: 0 -9768px; }
.sprite.FillColorGallery { background-position: 0 -9802px; }
.sprite.FillDialog { background-position: 0 -9836px; }
.sprite.FillDown { background-position: 0 -9870px; }
.sprite.FillEffects { background-position: 0 -9904px; }
.sprite.FillerTemplateItem { background-position: 0 -9938px; }
.sprite.FillLeft { background-position: 0 -9972px; }
.sprite.FillMenu { background-position: 0 -10006px; }
.sprite.FillOutAForm { background-position: 0 -10040px; }
.sprite.FillOutThisForm { background-position: 0 -10074px; }
.sprite.FillPattern { background-position: 0 -10108px; }
.sprite.FillRight { background-position: 0 -10142px; }
.sprite.FillStyle { background-position: 0 -10176px; }
.sprite.FillUp { background-position: 0 -10210px; }
.sprite.Filter { background-position: 0 -10244px; }
.sprite.FilterAdvancedByForm { background-position: 0 -10278px; }
.sprite.FilterAdvancedMenu { background-position: 0 -10312px; }
.sprite.FilterByResource { background-position: 0 -10346px; }
.sprite.FilterBySelection { background-position: 0 -10380px; }
.sprite.FilterClear { background-position: 0 -10414px; }
.sprite.FilterClearAllFilters { background-position: 0 -10448px; }
.sprite.FilterNew { background-position: 0 -10482px; }
.sprite.FilterReapply { background-position: 0 -10516px; }
.sprite.Filters { background-position: 0 -10550px; }
.sprite.FiltersGallery { background-position: 0 -10584px; }
.sprite.FiltersMenu { background-position: 0 -10618px; }
.sprite.FilterToggleFilter { background-position: 0 -10652px; }
.sprite.FilterView { background-position: 0 -10686px; }
.sprite.FontStyles { background-position: 0 -10720px; }
.sprite.FormatBarStylesMenu { background-position: 0 -10754px; }
.sprite.Formula { background-position: 0 -10788px; width: 16px; height: 16px; }
.sprite.FreezePanes { background-position: 0 -10814px; width: 16px; height: 16px; }
.sprite.GalleryBarStyle { background-position: 0 -10840px; }
.sprite.GridlinesStyleGallery { background-position: 0 -10874px; }
.sprite.GroupAudioStyles { background-position: 0 -10908px; }
.sprite.GroupBasicText { background-position: 0 -10942px; width: 16px; height: 16px; }
.sprite.GroupBlogStyles { background-position: 0 -10968px; }
.sprite.GroupChartStyles { background-position: 0 -11002px; }
.sprite.GroupContainerStyles { background-position: 0 -11036px; }
.sprite.GroupDiagramStylesClassic { background-position: 0 -11070px; }
.sprite.GroupFontStyles { background-position: 0 -11104px; }
.sprite.GroupGanttChartBarStyles { background-position: 0 -11138px; }
.sprite.GroupOrganizationChartStyleClassic { background-position: 0 -11172px; }
.sprite.GroupPictureStyles { background-position: 0 -11206px; }
.sprite.GroupPivotTableStyleOptions { background-position: 0 -11240px; }
.sprite.GroupPivotTableStyles { background-position: 0 -11274px; }
.sprite.GroupShapeStyles { background-position: 0 -11308px; }
.sprite.GroupShapeStylesClassic { background-position: 0 -11342px; }
.sprite.GroupSlicerShapeStyles { background-position: 0 -11376px; }
.sprite.GroupSlicerStyles { background-position: 0 -11410px; }
.sprite.GroupSmartArtQuickStyles { background-position: 0 -11444px; }
.sprite.GroupSparklineStyle { background-position: 0 -11478px; }
.sprite.GroupStyleApplication { background-position: 0 -11512px; }
.sprite.GroupStyles { background-position: 0 -11546px; }
.sprite.GroupStylesEdit { background-position: 0 -11580px; }
.sprite.GroupStyleSet { background-position: 0 -11614px; }
.sprite.GroupTableStyleOptions { background-position: 0 -11648px; }
.sprite.GroupTableStyleOptionsPowerPoint { background-position: 0 -11682px; }
.sprite.GroupTableStylesExcel { background-position: 0 -11716px; }
.sprite.GroupTableStylesPowerPoint { background-position: 0 -11750px; }
.sprite.GroupTableStylesWord { background-position: 0 -11784px; }
.sprite.GroupTextBoxStyles { background-position: 0 -11818px; }
.sprite.GroupTextStylesTable { background-position: 0 -11852px; }
.sprite.GroupTimelineStyles { background-position: 0 -11886px; }
.sprite.GroupTimelineViewTextStyles { background-position: 0 -11920px; }
.sprite.GroupTransitionStyles { background-position: 0 -11954px; }
.sprite.GroupVideoStyles { background-position: 0 -11988px; }
.sprite.GroupViewStyle { background-position: 0 -12022px; }
.sprite.GroupWordArtStyles { background-position: 0 -12056px; }
.sprite.GroupWordArtStylesClassic { background-position: 0 -12090px; }
.sprite.HideDetails { background-position: 0 -12124px; width: 16px; height: 16px; }
.sprite.IndentClassic { background-position: 0 -12150px; width: 16px; height: 16px; }
.sprite.IndentDecrease { background-position: 0 -12176px; width: 16px; height: 16px; }
.sprite.IndentDecreaseExcel { background-position: 0 -12202px; width: 16px; height: 16px; }
.sprite.IndentDecreaseWord { background-position: 0 -12228px; width: 16px; height: 16px; }
.sprite.IndentIncrease { background-position: 0 -12254px; width: 16px; height: 16px; }
.sprite.IndentIncreaseExcel { background-position: 0 -12280px; width: 16px; height: 16px; }
.sprite.IndentIncreaseWord { background-position: 0 -12306px; width: 16px; height: 16px; }
.sprite.IndentRTL { background-position: 0 -12332px; width: 16px; height: 16px; }
.sprite.InkStylesGallery { background-position: 0 -12358px; }
.sprite.InsertActionGallery { background-position: 0 -12392px; }
.sprite.InsertAlignmentTab { background-position: 0 -12426px; }
.sprite.InsertAppOnlyBlock { background-position: 0 -12460px; }
.sprite.InsertAudioVideoMenu { background-position: 0 -12494px; }
.sprite.InsertBanner { background-position: 0 -12528px; }
.sprite.InsertBookmarkSpd { background-position: 0 -12562px; }
.sprite.InsertBranch { background-position: 0 -12596px; }
.sprite.InsertBuildingBlock { background-position: 0 -12630px; }
.sprite.InsertBuildingBlocksCommonPartsGallery { background-position: 0 -12664px; }
.sprite.InsertBuildingBlocksEquationsGallery { background-position: 0 -12698px; }
.sprite.InsertBuildingBlocksFooterGallery { background-position: 0 -12732px; }
.sprite.InsertBuildingBlocksHeaderGallery { background-position: 0 -12766px; }
.sprite.InsertBusinessInfo { background-position: 0 -12800px; }
.sprite.InsertCellMenu { background-position: 0 -12834px; }
.sprite.InsertCellstMenu { background-position: 0 -12868px; }
.sprite.InsertChart { background-position: 0 -12902px; }
.sprite.InsertChartGalleryWizard { background-position: 0 -12936px; }
.sprite.InsertColumn3 { background-position: 0 -12970px; }
.sprite.InsertColumnLeft { background-position: 0 -13004px; }
.sprite.InsertColumnLeftAccess { background-position: 0 -13038px; }
.sprite.InsertColumnRight { background-position: 0 -13072px; }
.sprite.InsertColumnRightAccess { background-position: 0 -13106px; }
.sprite.InsertColumns { background-position: 0 -13140px; }
.sprite.InsertConditionGallery { background-position: 0 -13174px; }
.sprite.InsertContentStore { background-position: 0 -13208px; }
.sprite.InsertControl { background-position: 0 -13242px; }
.sprite.InsertCopiedCells { background-position: 0 -13276px; }
.sprite.InsertCutCells { background-position: 0 -13310px; }
.sprite.InsertDataGraphicLegend { background-position: 0 -13344px; }
.sprite.InsertDataMap { background-position: 0 -13378px; }
.sprite.InsertDataSourceGallery { background-position: 0 -13412px; }
.sprite.InsertDataView { background-position: 0 -13446px; }
.sprite.InsertDataViewControlGallery { background-position: 0 -13480px; }
.sprite.InsertDeclarativeStep { background-position: 0 -13514px; }
.sprite.InsertDesignGallery { background-position: 0 -13548px; }
.sprite.InsertDialog { background-position: 0 -13582px; }
.sprite.InsertDIV { background-position: 0 -13616px; }
.sprite.InsertDrawingCanvas { background-position: 0 -13650px; }
.sprite.InsertElseBranch { background-position: 0 -13684px; }
.sprite.InsertEmptyDataView { background-position: 0 -13718px; }
.sprite.InsertEvents { background-position: 0 -13752px; }
.sprite.InsertExcelSpreadsheetMenu { background-position: 0 -13786px; }
.sprite.InsertFileUploadAndLink { background-position: 0 -13820px; }
.sprite.InsertFlowGallery { background-position: 0 -13854px; }
.sprite.InsertFormula { background-position: 0 -13888px; }
.sprite.InsertHighPrivilegeBlock { background-position: 0 -13922px; }
.sprite.InsertHR { background-position: 0 -13956px; }
.sprite.InsertIButton { background-position: 0 -13990px; }
.sprite.InsertIButtonContext { background-position: 0 -14024px; }
.sprite.InsertImageHtmlTag { background-position: 0 -14058px; }
.sprite.InsertInlineFrame { background-position: 0 -14092px; }
.sprite.InsertLayer { background-position: 0 -14126px; }
.sprite.InsertLink { background-position: 0 -14160px; }
.sprite.InsertListForm { background-position: 0 -14194px; }
.sprite.InsertLoopCondition { background-position: 0 -14228px; }
.sprite.InsertLoopGallery { background-position: 0 -14262px; }
.sprite.InsertLoopNTimes { background-position: 0 -14296px; }
.sprite.InsertMenu { background-position: 0 -14330px; }
.sprite.InsertMenuHeader { background-position: 0 -14364px; }
.sprite.InsertMoreDesigns { background-position: 0 -14398px; }
.sprite.InsertMoreTextBoxes { background-position: 0 -14432px; }
.sprite.InsertMoreVertTextBoxes { background-position: 0 -14466px; }
.sprite.InsertMovieDialog { background-position: 0 -14500px; }
.sprite.InsertNavBar { background-position: 0 -14534px; }
.sprite.InsertNavigationButton { background-position: 0 -14568px; }
.sprite.InsertNewComment { background-position: 0 -14602px; }
.sprite.InsertNumberAlternate { background-position: 0 -14636px; }
.sprite.InsertPanel { background-position: 0 -14670px; }
.sprite.InsertParagraphHtmlTag { background-position: 0 -14704px; }
.sprite.InsertParallelBlock { background-position: 0 -14738px; }
.sprite.InsertPictureDialog { background-position: 0 -14772px; }
.sprite.InsertPicturePowerPointFlyoutAnchor { background-position: 0 -14806px; }
.sprite.InsertProject { background-position: 0 -14840px; }
.sprite.InsertResourceMenu { background-position: 0 -14874px; }
.sprite.InsertRow { background-position: 0 -14908px; }
.sprite.InsertRowAbove { background-position: 0 -14942px; }
.sprite.InsertRowAboveAccess { background-position: 0 -14976px; }
.sprite.InsertRowBelow { background-position: 0 -15010px; }
.sprite.InsertRowBelowAccess { background-position: 0 -15044px; }
.sprite.InsertRows { background-position: 0 -15078px; }
.sprite.InsertRowsColumnsMenu { background-position: 0 -15112px; }
.sprite.InsertRowsOrColumns2 { background-position: 0 -15146px; }
.sprite.InsertSequentialStep { background-position: 0 -15180px; }
.sprite.InsertSPAN { background-position: 0 -15214px; }
.sprite.InsertStage { background-position: 0 -15248px; }
.sprite.InsertStageGallery { background-position: 0 -15282px; }
.sprite.InsertStepMenu { background-position: 0 -15316px; }
.sprite.InsertSymbol { background-position: 0 -15350px; }
.sprite.InsertTable { background-position: 0 -15384px; }
.sprite.InsertTableCaption { background-position: 0 -15418px; }
.sprite.InsertTag { background-position: 0 -15452px; }
.sprite.InsertTagMenu { background-position: 0 -15486px; }
.sprite.InsertTextEffect { background-position: 0 -15520px; }
.sprite.InsertTimeline { background-position: 0 -15554px; }
.sprite.InsertVisioDrawingMenu { background-position: 0 -15588px; }
.sprite.InsertWebPartZone { background-position: 0 -15622px; }
.sprite.Italic { background-position: 0 -15656px; }
.sprite.JotInkStyle { background-position: 0 -15690px; }
.sprite.JotInkStyle13 { background-position: 0 -15724px; }
.sprite.JotInsertGraphStyle1 { background-position: 0 -15758px; }
.sprite.JotInsertGraphStyle2 { background-position: 0 -15792px; }
.sprite.JotInsertGraphStyle3 { background-position: 0 -15826px; }
.sprite.JumpStyle { background-position: 0 -15860px; }
.sprite.JumpStyle2Sides { background-position: 0 -15894px; }
.sprite.JumpStyle3Sides { background-position: 0 -15928px; }
.sprite.JumpStyle4Sides { background-position: 0 -15962px; }
.sprite.JumpStyle5Sides { background-position: 0 -15996px; }
.sprite.JumpStyle6Sides { background-position: 0 -16030px; }
.sprite.JumpStyle7Sides { background-position: 0 -16064px; }
.sprite.JumpStyleArc { background-position: 0 -16098px; }
.sprite.JumpStyleGap { background-position: 0 -16132px; }
.sprite.JumpStylePageDefault { background-position: 0 -16166px; }
.sprite.JumpStyleSquare { background-position: 0 -16200px; }
.sprite.LineStyle { background-position: 0 -16234px; }
.sprite.LineStyle2 { background-position: 0 -16268px; }
.sprite.LineStylesDialog { background-position: 0 -16302px; }
.sprite.LineStyleVisio { background-position: 0 -16336px; }
.sprite.LinkTasksMenu { background-position: 0 -16370px; width: 16px; height: 16px; }
.sprite.Lock { background-position: 0 -16396px; width: 16px; height: 16px; }
.sprite.ManageStylesTaskPane { background-position: 0 -16422px; }
.sprite.MergeCells { background-position: 0 -16456px; }
.sprite.MergeCellsAcross { background-position: 0 -16490px; }
.sprite.MergeCenter { background-position: 0 -16524px; }
.sprite.MergeCenterMenu { background-position: 0 -16558px; }
.sprite.MergeForms { background-position: 0 -16592px; }
.sprite.MergeOptions { background-position: 0 -16626px; }
.sprite.MergeOrSplitCells { background-position: 0 -16660px; }
.sprite.MergeToExistingPublication { background-position: 0 -16694px; }
.sprite.MergeToNewPublication { background-position: 0 -16728px; }
.sprite.MergeToPrint { background-position: 0 -16762px; }
.sprite.MergeToWord { background-position: 0 -16796px; }
.sprite.MergeViewClose { background-position: 0 -16830px; }
.sprite.MindMapDiagramStyle { background-position: 0 -16864px; }
.sprite.MsoInkStyle1 { background-position: 0 -16898px; }
.sprite.MsoInkStyle2 { background-position: 0 -16932px; }
.sprite.MsoInkStyle3 { background-position: 0 -16966px; }
.sprite.MsoInkStyle4 { background-position: 0 -17000px; }
.sprite.MsoInkStyle5 { background-position: 0 -17034px; }
.sprite.MsoInkStyle6 { background-position: 0 -17068px; }
.sprite.MsoInkStyle7 { background-position: 0 -17102px; }
.sprite.MsoInkStyle8 { background-position: 0 -17136px; }
.sprite.MsoInkStyle9 { background-position: 0 -17170px; }
.sprite.MSWordApplyTableStyle { background-position: 0 -17204px; }
.sprite.NetworkDiagramBoxStraightLinkStyles { background-position: 0 -17238px; }
.sprite.NetworkDiagramBoxStylesFormat { background-position: 0 -17272px; }
.sprite.NewCssStyle { background-position: 0 -17306px; }
.sprite.NewPivotTableStyle2 { background-position: 0 -17340px; }
.sprite.NewTableStyle2 { background-position: 0 -17374px; }
.sprite.NewTableStyleWord { background-position: 0 -17408px; }
.sprite.NoAudioStyle { background-position: 0 -17442px; }
.sprite.NotebookSearch { background-position: 0 -17476px; width: 16px; height: 16px; }
.sprite.NotepadToolNewNote { background-position: 0 -17502px; width: 16px; height: 16px; }
.sprite.NumberStyleGallery { background-position: 0 -17528px; }
.sprite.NumberStyleGalleryWord { background-position: 0 -17562px; }
.sprite.OrganizationChartStyle { background-position: 0 -17596px; }
.sprite.OrgChartChangeStyle { background-position: 0 -17630px; }
.sprite.OutlineGroup { background-position: 0 -17664px; width: 16px; height: 16px; }
.sprite.OutlineUngroup { background-position: 0 -17690px; width: 16px; height: 16px; }
.sprite.Overline { background-position: 0 -17716px; }
.sprite.ParagraphStylesGallery { background-position: 0 -17750px; }
.sprite.PasteApplyStyle { background-position: 0 -17784px; }
.sprite.PasteDestinationStyle { background-position: 0 -17818px; }
.sprite.PasteExcelTableDestinationTableStyle { background-position: 0 -17852px; }
.sprite.PasteLinkedExcelTableDestinationTableStyle { background-position: 0 -17886px; }
.sprite.PercentSign { background-position: 0 -17920px; width: 16px; height: 16px; }
.sprite.PercentStyle { background-position: 0 -17946px; }
.sprite.PickUpStyle { background-position: 0 -17980px; }
.sprite.PictureStyleClear { background-position: 0 -18014px; }
.sprite.PictureStylesGallery { background-position: 0 -18048px; }
.sprite.PivotTableNewStyle { background-position: 0 -18082px; }
.sprite.PivotTableStylesGallery { background-position: 0 -18116px; }
.sprite.QuickFontStylesGallery { background-position: 0 -18150px; }
.sprite.QuickStylesGallery { background-position: 0 -18184px; }
.sprite.QuickStylesGalleryExtended { background-position: 0 -18218px; }
.sprite.QuickStylesSaveSelectionAsNew { background-position: 0 -18252px; }
.sprite.QuickStylesSetAsDefault { background-position: 0 -18286px; }
.sprite.QuickStylesSets { background-position: 0 -18320px; }
.sprite.ResourceGraphBarStylesFormat { background-position: 0 -18354px; }
.sprite.RoutingStyle { background-position: 0 -18388px; }
.sprite.SearchCalendarsOnline { background-position: 0 -18422px; }
.sprite.SearchDownscopeToFolder { background-position: 0 -18456px; }
.sprite.SearchFormFields { background-position: 0 -18490px; }
.sprite.SearchLibraries { background-position: 0 -18524px; }
.sprite.SearchOnWeb { background-position: 0 -18558px; }
.sprite.SearchOtherLocationsMenu { background-position: 0 -18592px; }
.sprite.SearchStoresToSearchGallery { background-position: 0 -18626px; }
.sprite.SearchTools { background-position: 0 -18660px; }
.sprite.SearchUI { background-position: 0 -18694px; }
.sprite.SearchUpscopeToAllCalendarItems { background-position: 0 -18728px; }
.sprite.SearchUpscopeToAllContactItems { background-position: 0 -18762px; }
.sprite.SearchUpscopeToAllItemsOfType { background-position: 0 -18796px; }
.sprite.SearchUpscopeToAllItemTypes { background-position: 0 -18830px; }
.sprite.SearchUpscopeToAllJournalItems { background-position: 0 -18864px; }
.sprite.SearchUpscopeToAllNoteItems { background-position: 0 -18898px; }
.sprite.SearchUpscopeToAllTaskItems { background-position: 0 -18932px; }
.sprite.SearchUpscopeToSubfolders { background-position: 0 -18966px; }
.sprite.SearchUpscopeToThisMailbox { background-position: 0 -19000px; }
.sprite.SearchViewAllResults { background-position: 0 -19034px; }
.sprite.ShadowStyle { background-position: 0 -19068px; }
.sprite.ShadowStyleGalleryClassic { background-position: 0 -19102px; }
.sprite.ShapeConnectorStyleCurved { background-position: 0 -19136px; }
.sprite.ShapeConnectorStyleElbow { background-position: 0 -19170px; }
.sprite.ShapeConnectorStyleMenu { background-position: 0 -19204px; }
.sprite.ShapeConnectorStyleStraight { background-position: 0 -19238px; }
.sprite.ShapeQuickStylesHome { background-position: 0 -19272px; }
.sprite.ShapeStyles { background-position: 0 -19306px; }
.sprite.ShapeStylesGallery { background-position: 0 -19340px; }
.sprite.ShapeStylesGalleryClassic { background-position: 0 -19374px; }
.sprite.ShowDetailsPage { background-position: 0 -19408px; width: 16px; height: 16px; }
.sprite.ShowStylesMenu { background-position: 0 -19434px; }
.sprite.SlicerCreateNewStyle { background-position: 0 -19468px; }
.sprite.SlicerStyles { background-position: 0 -19502px; }
.sprite.SlideBackgroundStylesGallery { background-position: 0 -19536px; }
.sprite.SmartArtStylesGallery { background-position: 0 -19570px; }
.sprite.Sort { background-position: 0 -19604px; }
.sprite.SortAndFilterAdvanced { background-position: 0 -19638px; }
.sprite.SortAndGroup { background-position: 0 -19672px; }
.sprite.SortAscendingExcel { background-position: 0 -19706px; }
.sprite.SortAscendingWord { background-position: 0 -19740px; }
.sprite.SortByDate { background-position: 0 -19774px; }
.sprite.SortByDialog { background-position: 0 -19808px; }
.sprite.SortClear { background-position: 0 -19842px; }
.sprite.SortCustomExcel { background-position: 0 -19876px; }
.sprite.SortDescendingExcel { background-position: 0 -19910px; }
.sprite.SortDescendingWord { background-position: 0 -19944px; }
.sprite.SortDialog { background-position: 0 -19978px; }
.sprite.SortDialogClassic { background-position: 0 -20012px; }
.sprite.SortDown { background-position: 0 -20046px; }
.sprite.SortFilterMenu { background-position: 0 -20080px; }
.sprite.SortFoldersAtoZ { background-position: 0 -20114px; }
.sprite.SortGallery { background-position: 0 -20148px; }
.sprite.SortMenu { background-position: 0 -20182px; }
.sprite.SortRemoveAllSorts { background-position: 0 -20216px; }
.sprite.SortSelectionMenu { background-position: 0 -20250px; }
.sprite.SortUp { background-position: 0 -20284px; }
.sprite.SparklineColorStyleGallery { background-position: 0 -20318px; }
.sprite.SparklineLineInsert { background-position: 0 -20352px; width: 16px; height: 16px; }
.sprite.Strikethrough { background-position: 0 -20378px; }
.sprite.StyleExplorer { background-position: 0 -20412px; }
.sprite.StyleGalleryClassic { background-position: 0 -20446px; }
.sprite.StyleLabel { background-position: 0 -20480px; }
.sprite.StyleMenu { background-position: 0 -20514px; width: 16px; height: 16px; }
.sprite.StylesDialogClassic { background-position: 0 -20540px; }
.sprite.StylesManageStyles { background-position: 0 -20574px; }
.sprite.StylesModifyStyle { background-position: 0 -20608px; }
.sprite.StylesPane { background-position: 0 -20642px; }
.sprite.StylesPaneNewStyle { background-position: 0 -20676px; }
.sprite.StylesStyleInspector { background-position: 0 -20710px; }
.sprite.StylesStyleSeparator { background-position: 0 -20744px; }
.sprite.StylesStyleVisibility { background-position: 0 -20778px; }
.sprite.TableAutoFormatStyle { background-position: 0 -20812px; }
.sprite.TableDrawBorderPenStyle { background-position: 0 -20846px; }
.sprite.TableStyleBandedColumns { background-position: 0 -20880px; }
.sprite.TableStyleBandedColumnsPowerPoint { background-position: 0 -20914px; }
.sprite.TableStyleBandedColumnsWord { background-position: 0 -20948px; }
.sprite.TableStyleBandedRows { background-position: 0 -20982px; }
.sprite.TableStyleBandedRowsPowerPoint { background-position: 0 -21016px; }
.sprite.TableStyleBandedRowsWord { background-position: 0 -21050px; }
.sprite.TableStyleClear { background-position: 0 -21084px; }
.sprite.TableStyleClearTable { background-position: 0 -21118px; }
.sprite.TableStyleColumnHeaders { background-position: 0 -21152px; }
.sprite.TableStyleFirstColumn { background-position: 0 -21186px; }
.sprite.TableStyleFirstColumnPowerPoint { background-position: 0 -21220px; }
.sprite.TableStyleFirstRowPowerPoint { background-position: 0 -21254px; }
.sprite.TableStyleLastColumn { background-position: 0 -21288px; }
.sprite.TableStyleLastColumnPowerPoint { background-position: 0 -21322px; }
.sprite.TableStyleModify { background-position: 0 -21356px; }
.sprite.TableStyleNew { background-position: 0 -21390px; }
.sprite.TableStyleRowHeaders { background-position: 0 -21424px; }
.sprite.TableStylesGallery { background-position: 0 -21458px; }
.sprite.TableStylesGalleryExcel { background-position: 0 -21492px; }
.sprite.TableStylesGalleryInfoPath { background-position: 0 -21526px; }
.sprite.TableStylesGalleryWord { background-position: 0 -21560px; width: 16px; height: 16px; }
.sprite.TableStyleTotalRowPowerPoint { background-position: 0 -21586px; }
.sprite.TableStyleTotalsRow { background-position: 0 -21620px; }
.sprite.TableTextStylesGallery { background-position: 0 -21654px; }
.sprite.TeamPlannerActualStyleMenu { background-position: 0 -21688px; }
.sprite.TeamPlannerAutoScheduleStyleMenu { background-position: 0 -21722px; }
.sprite.TeamPlannerExternalStyleMenu { background-position: 0 -21756px; }
.sprite.TeamPlannerLateStyleMenu { background-position: 0 -21790px; }
.sprite.TeamPlannerManualScheduleStyleMenu { background-position: 0 -21824px; }
.sprite.TeamPlannerSelectedTasksStyleMenu { background-position: 0 -21858px; }
.sprite.TextBoxStyleGallery { background-position: 0 -21892px; }
.sprite.TextStyle { background-position: 0 -21926px; }
.sprite.TextStyles { background-position: 0 -21960px; }
.sprite.TextStylesGallery { background-position: 0 -21994px; }
.sprite.TimelineCreateNewStyle { background-position: 0 -22028px; }
.sprite.TimelineStyles { background-position: 0 -22062px; }
.sprite.Underline { background-position: 0 -22096px; }
.sprite.UnderlineColorPicker { background-position: 0 -22130px; }
.sprite.UnderlineDouble { background-position: 0 -22164px; }
.sprite.UnderlineGallery { background-position: 0 -22198px; }
.sprite.UnderlineWords { background-position: 0 -22232px; }
.sprite.ValidationRule { background-position: 0 -22266px; width: 16px; height: 16px; }
.sprite.VideoStylesGallery { background-position: 0 -22292px; }
.sprite.ViewAllProposals { background-position: 0 -22326px; }
.sprite.ViewApply { background-position: 0 -22360px; }
.sprite.ViewAppointmentInCalendar { background-position: 0 -22394px; }
.sprite.ViewAsHorizontal { background-position: 0 -22428px; }
.sprite.ViewAsVertical { background-position: 0 -22462px; }
.sprite.ViewAvailabilityShow { background-position: 0 -22496px; }
.sprite.ViewBackToColorView { background-position: 0 -22530px; }
.sprite.ViewBar { background-position: 0 -22564px; }
.sprite.ViewByBusinessMonth { background-position: 0 -22598px; }
.sprite.ViewByBusinessWeek { background-position: 0 -22632px; }
.sprite.ViewByDay { background-position: 0 -22666px; }
.sprite.ViewByMonth { background-position: 0 -22700px; }
.sprite.ViewByWeek { background-position: 0 -22734px; }
.sprite.ViewCode { background-position: 0 -22768px; }
.sprite.ViewCodeSpd { background-position: 0 -22802px; }
.sprite.ViewContactsBy { background-position: 0 -22836px; }
.sprite.ViewCostShow { background-position: 0 -22870px; }
.sprite.ViewCumulativeCostShow { background-position: 0 -22904px; }
.sprite.ViewCumulativeWorkShow { background-position: 0 -22938px; }
.sprite.ViewCustomViews { background-position: 0 -22972px; }
.sprite.ViewDataMacroTracing { background-position: 0 -23006px; }
.sprite.ViewDeleteCurrent { background-position: 0 -23040px; }
.sprite.ViewDesign { background-position: 0 -23074px; }
.sprite.ViewDetailsGallery { background-position: 0 -23108px; }
.sprite.ViewDirectionMenu { background-position: 0 -23142px; }
.sprite.ViewDisplayInColor { background-position: 0 -23176px; }
.sprite.ViewDisplayInGrayscale { background-position: 0 -23210px; }
.sprite.ViewDisplayInHighContrast { background-position: 0 -23244px; }
.sprite.ViewDisplayInPureBlackAndWhite { background-position: 0 -23278px; }
.sprite.ViewDocumentActionsPane { background-position: 0 -23312px; }
.sprite.ViewDocumentMap { background-position: 0 -23346px; }
.sprite.ViewDocumentPolicy { background-position: 0 -23380px; }
.sprite.ViewDraftView { background-position: 0 -23414px; }
.sprite.ViewerPrint { background-position: 0 -23448px; }
.sprite.ViewFooter { background-position: 0 -23482px; }
.sprite.ViewFormulaBar { background-position: 0 -23516px; }
.sprite.ViewFreezePanesGallery { background-position: 0 -23550px; }
.sprite.ViewFullScreenReadingView { background-position: 0 -23584px; }
.sprite.ViewFullScreenView { background-position: 0 -23618px; }
.sprite.ViewGoBack { background-position: 0 -23652px; }
.sprite.ViewGoForward { background-position: 0 -23686px; }
.sprite.ViewGridlines { background-position: 0 -23720px; }
.sprite.ViewGridlinesFrontPage { background-position: 0 -23754px; }
.sprite.ViewGridlinesPowerPoint { background-position: 0 -23788px; }
.sprite.ViewGridlinesToggleExcel { background-position: 0 -23822px; }
.sprite.ViewGridlinesWord { background-position: 0 -23856px; }
.sprite.ViewGroupMemberInformation { background-position: 0 -23890px; }
.sprite.ViewGroupPermissions { background-position: 0 -23924px; }
.sprite.ViewGroupSchedules { background-position: 0 -23958px; }
.sprite.ViewHandoutMasterView { background-position: 0 -23992px; }
.sprite.ViewHeadings { background-position: 0 -24026px; }
.sprite.ViewLayers { background-position: 0 -24060px; }
.sprite.ViewManagement { background-position: 0 -24094px; }
.sprite.ViewMasterDocumentViewClassic { background-position: 0 -24128px; }
.sprite.ViewMasterView { background-position: 0 -24162px; }
.sprite.ViewNew { background-position: 0 -24196px; }
.sprite.ViewNextItemMenu { background-position: 0 -24230px; }
.sprite.ViewNoFrames { background-position: 0 -24264px; }
.sprite.ViewNormalView { background-position: 0 -24298px; }
.sprite.ViewNormalViewExcel { background-position: 0 -24332px; }
.sprite.ViewNormalViewPowerPoint { background-position: 0 -24366px; }
.sprite.ViewNotesMasterView { background-position: 0 -24400px; }
.sprite.ViewNotesPageView { background-position: 0 -24434px; }
.sprite.ViewNotesShow { background-position: 0 -24468px; }
.sprite.ViewObjectsShow { background-position: 0 -24502px; }
.sprite.ViewOnlineConnection { background-position: 0 -24536px; }
.sprite.ViewOnlineLayoutViewClassic { background-position: 0 -24570px; }
.sprite.ViewOutlineView { background-position: 0 -24604px; }
.sprite.ViewOutlineViewPowerPoint { background-position: 0 -24638px; }
.sprite.ViewOverallocationShow { background-position: 0 -24672px; }
.sprite.ViewPageBreakPreviewView { background-position: 0 -24706px; }
.sprite.ViewPageLayoutView { background-position: 0 -24740px; }
.sprite.ViewPeakUnitsShow { background-position: 0 -24774px; }
.sprite.ViewPercentAllocationShow { background-position: 0 -24808px; }
.sprite.ViewPermissions { background-position: 0 -24842px; }
.sprite.ViewPolicy { background-position: 0 -24876px; }
.sprite.ViewPredecessorsSuccessorsShow { background-position: 0 -24910px; }
.sprite.ViewPreviousItemMenu { background-position: 0 -24944px; }
.sprite.ViewPrintLayoutView { background-position: 0 -24978px; }
.sprite.ViewProperties { background-position: 0 -25012px; }
.sprite.ViewRemainingAvailabilityShow { background-position: 0 -25046px; }
.sprite.ViewResourcesPredecessorsShow { background-position: 0 -25080px; }
.sprite.ViewResourcesSuccessorsShow { background-position: 0 -25114px; }
.sprite.ViewRulerExcel { background-position: 0 -25148px; }
.sprite.ViewRulerPowerPoint { background-position: 0 -25182px; }
.sprite.WrapText { background-position: 0 -25216px; }

.chartIconBase { background: url('images/chartIcon50-50.png') no-repeat top left; width: 24px; height: 24px; display: inline-block; background-size: 130%; }
.chartIconBase.ChartInsert { background-position: 1px 1px; }
.chartIcon { background: url('images/chartIcon.png') no-repeat top left; width: 16px; height: 16px; display: inline-block; }
.chartIcon.ColumnChart { background-position: 0 -304px; }
.chartIcon.LineChart { background-position: 0 -320px; }
.chartIcon.BarChart { background-position: 0 -352px; }
.chartIcon.AreaChart { background-position: 0 -368px; }
.chartIcon.PieChart { background-position: 0 -336px; }
.chartIcon.XyScatterChart { background-position: 0 -384px; }

.chartIconBase.clustered-column-icon { background-position: 1px -1871px; }
.chartIconBase.stacked-column-icon { background-position: 1px -1893px; }
.chartIconBase.stacked100-column-icon { background-position: 1px -1915px; }
.chartIconBase.line-icon { background-position: 1px -1937px; }
.chartIconBase.stacked-line-icon { background-position: 1px -1959px; }
.chartIconBase.stacked100-line-icon { background-position: 1px -1981px; }
.chartIconBase.line-markers-icon { background-position: 1px -2003px; }
.chartIconBase.stacked-line-markers-icon { background-position: 1px -2025px; }
.chartIconBase.stacked100-line-markers-icon { background-position: 1px -2047px; }
.chartIconBase.pie-icon { background-position: 1px -2070px; }
.chartIconBase.doughnut-icon { background-position: 1px -2094px; }
.chartIconBase.clustered-bar-icon { background-position: 1px -2116px; }
.chartIconBase.stacked-bar-icon { background-position: 1px -2138px; }
.chartIconBase.stacked100-bar-icon { background-position: 1px -2160px; }
.chartIconBase.area-icon { background-position: 1px -2182px; }
.chartIconBase.stacked-area-icon { background-position: 1px -2204px; }
.chartIconBase.stacked100-area-icon { background-position: 1px -2227px; }
.chartIconBase.XYScatter-icon { background-position: 1px -2249px; }
.chartIconBase.XYScatter-line-icon { background-position: 1px -2271px; }
.chartIconBase.XYScatter-line-noMarkers-icon { background-position: 1px -2294px; }
.chartIconBase.XYScatter-smooth-icon { background-position: 1px -2316px; }
.chartIconBase.XYScatter-smooth-noMarkers-icon { background-position: 1px -2338px; }
.chartIconBase.bubble-icon { background-position: 1px -1625px; }

.chartIconSwitch { background: url('images/chartIcon.png') no-repeat top left; width: 32px; height: 32px; display: inline-block; }
.icon-chart-base-middle .switchRowColumn { background-position: -16px -64px; }
